<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <p class="p-8 text-slate-500">Sorry, there is nothing at this address.</p>
    </NotFound>
</Router>
